TestData={
    "search_sentence" : "this is the default entry!",
    drugi_kluczyk_z_pliku : 2;
    "trzeci kluczyk z pliku" = ["first element", "second elmenet"],
    "a to czwarty kluczyk" : {
        test : "a to wartosc z zagniezdzonej mapy",
        test2 : 5,
        test3 : 4.5123,
        test4 : {
            testx1 : tadam,
            testx2: tadam2
            }
        },
    ostatni : [1,2],
    notAnInteger : 4.5123,
    "a to test na makro" : mcr.isbn,
    DoubleMapa : {
        first: 1,
         second: 2,
         third :3
         }
    }