Environment:{

    Default: {

        MacroEval: true,
        PauseDuration: 300,

        WebDrivers: {
            CloseBrowserAfterScenario: true,
            Chrome: {
                path: "resources\\webDrivers\\chromedriver.exe"
            },
            WiniumDesktop: {
                path: "resources\\webDrivers\\Winium.Desktop.Driver.exe",
                port: "9979",
                host: localhost
            }
        },

        JdbcDrivers: {
            Oracle: {
                path: "resources\\jdbcDrivers\\ojdbc6.jar"
            }
        },

        scripts: {
            path: "resources\\scripts"
        },

        apps: {
            autoIt: "C:\\Program Files (x86)\\AutoIt3\\AutoIt3.exe"
        }

    }

}