#include "config/framework/framework.config"
#include "config/environment/winrm.config"
#include "config/environment/ssh.config"
#include "config/environment/default.config"
#include "config/environment/active.config"
#include "config/environment/bookByIsbn.config"
#include "config/environment/demoOnline.config"
#include "config/environment/globalWeather.config"
#include "config/environment/httpBin.config"
#include "config/environment/reqResIn.config"
#include "config/testdata/clouddirector.config"
#include "config/testdata/macro.config"
#include "config/testdata/testdata.config"