Environment:{

    reqResIn: {

        WriteToReport: {
            key1: "${ctx.TestData.drugi_kluczyk_z_pliku}",
            key2: "a to tylko druga linijka"
            },

        Rest: {
            url: "http://reqres.in",
            url_post_suffix: "/api/users",
            url_put_suffix: "/api/users/",
            url_get_suffix: "/api/users/"
        }

    }

}