Macro:{
        testMacro : {
            type: date,
            prefix: "Local->",
            suffix: "<-Local"
        },
        testMacro2 : {
            type: date,
            prefix: "Local2->",
            suffix: "<-2Local"
        },
        testMacro3 : {
            type: timestamp,
            suffix: "000"
        }
}