<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [thread-%-2T] [%-5level] %msg%n"/>
        </Console>
        <RollingFile name="RollingFileAppender" fileName="target/logs/all.log"
                     filePattern="target/logs/all_%d{yyyy-MM-dd-hh-mm}.log.zip">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [thread-%2T] [%-5level] %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:logFileName}">
                <Route>
                    <File name="File-${ctx:logFileName}" fileName="target/logs/${ctx:logDirName}/${ctx:logFileName}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [thread-%-2T] [%-5level] %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <!--<AppenderRef ref="RoutingAppender"/>-->
        </Root>
        <Logger name="libs.libCore.modules" level="ALL">
            <AppenderRef ref="RoutingAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
    </Loggers>
</Configuration>