Environment={

    Default : {

        WebDrivers : {
            CloseBrowserAfterScenario : true,
            Chrome : {
                path : "src\\test\\java\\resources\\chromedriver.exe"
            },
            FireFox : {
                path : "src\\test\\java\\resources\\geckodriver.exe"
            },
            InternetExplorer : {
                path : "src\\test\\java\\resources\\IEDriverServer.exe"
            }
        },

        JdbcDrivers : {
            Oracle : {
                path : "src\\test\\java\\resources\\ojdbc6.jar"
            }
        },

        MacroEval : true
    }

}