Environment:{

    Default: {

        MacroEval: true,
        PauseDuration: 300,

        WebDrivers: {
            CloseBrowserAfterScenario: true,
            Chrome: {
                path: "resources\\webDrivers\\chromedriver.exe"
            },
            FireFox: {
                path: "resources\\webDrivers\\geckodriver.exe"
            },
            InternetExplorer: {
                path: "resources\\webDrivers\\IEDriverServer.exe"
            }
        },

        JdbcDrivers: {
            Oracle: {
                path: "resources\\jdbcDrivers\\ojdbc6.jar"
            }
        },

        scripts: {
            path: "resources\\scripts"
        },

        apps: {
            autoIt: "C:\\Program Files (x86)\\AutoIt3\\AutoIt3.exe"
        }

    }

}