<?xml version="1.0" encoding="UTF-8"?>
<RecomposeVAppParams
    name="${ctx.TestData.vAppTemplate.VApp_name}"
    xmlns="http://www.vmware.com/vcloud/v${ctx.Environment.Active.vCloudDirector.api}"
    xmlns:ovf="http://schemas.dmtf.org/ovf/envelope/1">
    <SourcedItem>
        <Source
            href="${ctx.TestData.vAppTemplate.Vm_template_href}" name="${ctx.TestData.vAppTemplate.Vm_name}" />
        <InstantiationParams>
            <!--<CustomizationSection>
               <ovf:Info>Specifies Customization Section</ovf:Info>
               <CustomizeOnInstantiate>true</CustomizeOnInstantiate>
            </CustomizationSection>-->
            <NetworkConnectionSection
                xmlns:ovf="http://schemas.dmtf.org/ovf/envelope/1"
                type="application/vnd.vmware.vcloud.networkConnectionSection+xml"
                href="${ctx.TestData.vAppTemplate.Vdc_network_href}/networkConnectionSection">
                    <ovf:Info>Network config for sourced item</ovf:Info>
                    <PrimaryNetworkConnectionIndex>0</PrimaryNetworkConnectionIndex>
                    <NetworkConnection network="${ctx.TestData.vAppTemplate.Vdc_network_name}">
                        <NetworkConnectionIndex>0</NetworkConnectionIndex>
                        <IsConnected>true</IsConnected>
                        <IpAddressAllocationMode>${ctx.TestData.vAppTemplate.ip_address_allocation_mode}</IpAddressAllocationMode>
                    </NetworkConnection>
            </NetworkConnectionSection>
        </InstantiationParams>
        <NetworkAssignment containerNetwork="${ctx.TestData.vAppTemplate.Vdc_network_name}" innerNetwork="${ctx.TestData.vAppTemplate.Vdc_network_name}" />
    </SourcedItem>
    <AllEULAsAccepted>true</AllEULAsAccepted>
</RecomposeVAppParams>