<?xml version="1.0" encoding="UTF-8"?>
<UndeployVAppParams
    xmlns="http://www.vmware.com/vcloud/v${ctx.Environment.Active.vCloudDirector.api}">
    <UndeployPowerAction>powerOff</UndeployPowerAction>
</UndeployVAppParams>