Environment:{

    Default: {

        vCloudDirector: {

            #cloudDirector login details
            host:   "https://my.company.cloud.com",
            org:    "myorg",
            user:   "myuser",
            pass:   "mypass",
            api:    "1.5",

            #variables used by GuestCustomization template
            GuestCustomizationSection: {
                DomainName: "my.company.cloud.com",
                DomainUserName: "myDomainUser",
                DomainUserPassword: "myDomainPassword",
                AdminPassword: "myAdminPassword"
            }
        }

    }

}