Environment:{

    Default: {

        IssueTrackerUrlPattern: "https://jira.my.company.com/browse",
        TestTrackerUrlPattern: "https://jira.my.company.com/browse",

        WriteToReport: {},

        MacroEval: true,
        UseProjectConfig: true,
        PauseDuration: 300,
        UseEncoding: false,
        EncoderKey: "dGhpc2lzYTEyOGJpdGtleQ==", #use Base64 format
        UseSystemTempDir: true,

        WebDrivers: {
            CloseBrowserAfterScenario: true,
            Chrome: {
                path: "resources\\webDrivers\\chromedriver.exe"
            },
            FireFox: {
                path: "resources\\webDrivers\\geckodriver.exe"
            },
            InternetExplorer: {
                path: "resources\\webDrivers\\IEDriverServer.exe"
            },
            WiniumDesktop: {
                path: "resources\\webDrivers\\Winium.Desktop.Driver.exe",
                port: "9979",
                CloseAppAfterScenario: true,
                size: "Default"   ###width x height -> 1024 x 960
            },
            useSikuli : false
        },

        JdbcDrivers: {
            Oracle: {
                path: "resources\\jdbcDrivers\\ojdbc6.jar"
            },
            Mssql: {
                path: "resources\\jdbcDrivers\\sqljdbc42.jar"
            }
        },

        libCoreScripts: {
            path: "libs\\libCore\\resources\\scripts"
        },

        scripts: {
            path: "src\\test\\java\\resources\\scripts"
        },

        apps: {
            autoIt: "C:\\Program Files (x86)\\AutoIt3\\AutoIt3.exe"
        },

        Web: {
            browser: "Chrome",
            timeout: 10,
            url: "http://www.google.pl",
            size: "Max"                     ###width x height -> 1024 x 960
        },

        Rest: {
            url: "http://default.com",
            closeIdleConnectionsAfterEachResponseAfter: false,          # causes 1 sec performance penalty
            closeIdleConnectionsAfterEachResponseAfter_idleTime: 3,
            reuseHttpClientInstance: false,
            http_maxConnections: 100,
            relaxedHTTPSValidation: true,
            followRedirects: true,
            responseTimeout: 60
        },

        Jdbc: {
            url: "jdbc:oracle:thin:scott/oracle@localhost:1521/XE"
        },

        Cloud: {
            useCloudDirector: false
        },

        WinRS: {
            connectUsingIpAddress: false,
            connectUsingHostName: false
        },

        Plugins: {
            handleTestStepFinished: ""
        }


    }

}